body{
    margin: 0 auto;
    background-size: 100%
}
.container{
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(52,73,94,0.7);
    border-radius: 4px;
    margin-top: 120px
}

.container img{
    width: 120px;
    height: 120px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 30px
    
}
input[type="text"],input[type="password"]{
    height: 35px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 15px;
    padding-left: 30px;
    background-color: #fff;
    border-radius: 5px
}
.form-input::before{
    content: "\f007";
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-top: 10px;
    color: forestgreen
}

.form-input:nth-child(2)::before{
    content: "\f023";
}
.btn-login{
    padding: 15px 25px;
    border: none;
    color: #fff;
    background-color: darkgreen;
    border-radius: 5px;
    border-bottom: 4px solid #27AE60
}